* {
  box-sizing: border-box;
}
section {
  margin-left: auto;
  margin-right: auto;
}

.bottom{
  margin-left: 33%;
}

.accordion_img{
  height: 500px;
  width: 900px;
}

.blogpost{
  font-size: 20px;
}

.clickhere_button{
  border-radius: 25px;
  display: inline-block;
  height: 60px;
  width: 300px;
}

.expand{

}

.lilspur{
  display: inline-block;
  height: 75px;
  width: 75px;
  vertical-align: bottom;
}
.textbox{

}

.title{
  color: #ffb6c1
  display: block;
  height: 50px;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  width: auto;
}
.top{
  text-align: center;
}
