* {
  box-sizing: border-box;
}

.btn.btn-default.btn-xs.dropdown-toggle {
  width: 25px;
  height: 20px;
}

.btn.btn-default {
  width: 25px;
  height: 20px;
}


ul li {
  display: inline;
}

i {
  margin-right: 50px;
}

.socialMediaFooter {
  list-style: none;
  text-align: center;
}

.google {
  color: rgb(221, 75, 57);
}

.instagram {
  color: rgb(192, 62, 120);
}

.facebook {
  color: rgb(59, 89, 152);
}

.twitter {
  color: rgb(29, 161, 242);
}

.dropdown-menu {
  display: none;
}

.btn-group {
  background-color: #E6E6E6;
  display: inline-block
}

.div_logo{
  background-color: black;
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  height: 200px;
  margin-left: 22%;
  margin-right: auto;
  width: 350px;

}

.div_signin{
  display: inline-block;
  float: right;
  vertical-align: top;
}

.signin{
  font-size: 20px;
  color: #008080;
}

.signout{
  font-size: 20px;
  color: #008080;
}

.spur1{
  height: 175px;
  margin-bottom: 10px;
}

.spur2{
  float: right;
  height: 175px;
  margin-top: 10px;
}

.video_section {
  background: #E6E6E6;
  font-size: 12px;
  margin-top: 10px;
}

.NBA_highlights_video {
  height: 400px;
  width: 100%;
}

.NBA_game_highlights {
  margin-left: 27%;
}

.game_description {
  font-family: Helvetica;
  text-align: center;
  color: #008080;
}

.site_footer {
  background: #cccccc;
}

.menu {
  list-style: none;
  display: inline-block;
  margin-left: 87px;
}

.copyright_text {
  text-align: center;
}

.link {
  text-decoration: none;
  color: #008080;
}

.input {
  text-align: center;
}
.body {
  background: #E6E6E6;
  margin: 0px;
}
.blogPostForm {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.title {
  color: #008080;
}

.blogPostFormTitle {
  font-family: Helvetica;
  text-align: center;
  color: #008080;
}

.userNameInput {
  border: solid 1px grey;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
}
.postDateInput {
  border: solid 1px grey;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
  color: #008080;
}

.postImage {
  display: block;
  margin: auto;
  margin-right: auto;
}

.postTitle {
  font-family: Helvetica;
  color: #008080;
  display: block;
  height: 50px;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  width: auto;
}

.titleInput {
  border-radius: 4px;
  border: solid 1px grey;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
}
.imageUrlInput {
  border-radius: 4px;
  border: solid 1px grey;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
}
.blogTextInput {
  border: solid 1px grey;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 200px;
  width: 500px;
}
.submitPost {
  background-color: lightgrey;
  border: solid 1px grey;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  -webkit-appearance: none;
}
.accordion_img {
  height: 500px;
  width: 900px;
}
.top{
  text-align: center;
}
.lilspur{
  display: inline-block;
  height: 75px;
  width: 75px;
  vertical-align: bottom;
}
.bottom{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.clickhere_button{
  border-radius: 25px;
  display: inline-block;
  height: 60px;
  width: 300px;
}
.blogText {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
}
.spurAndButtons {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  height: 60px;
  overflow: hidden;
}
.visible {
  display: block;
}

.hidden {
  display: none;
}
